article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "milk orange-pic cone sucre";
    width: 100%;
    margin-bottom: 0;

    .milk{
        grid-area: milk;
        @include background("../images/desktop/image-gallery-milkbottles.jpg" );
        width: 100%;
        height: 60vh;
      
    }
    .orange{
        grid-area: orange-pic;
        @include background("../images/desktop/image-gallery-orange.jpg" );
        width: 100%;
    }
    .cone{
        grid-area: cone;
        @include background("../images/desktop/image-gallery-cone.jpg");
        width: 100%;
    }
    .sucre{
        grid-area: sucre;
       @include background("../images/desktop/image-gallery-sugarcubes.jpg");
       width: 100%;
    
    }
}