@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// primary color
$primary-color-Soft-red: hsl(7, 99%, 70%);
$primary-color-Yellow: hsl(51, 100%, 49%);
$primary-color-Dark-desaturated-cyan: hsl(167, 40%, 24%);
$primary-color-Dark-blue: hsl(198, 62%, 26%);
$primary-color-Dark-moderate-cyan: hsl(168, 34%, 41%);

//neutral color
$neutral-color-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$neutral-color-Very-dark-grayish-blue: hsl(213, 9%, 39%);
$neutral-color-Dark-grayish-blue: hsl(232, 10%, 55%);
$neutral-color-Grayish-blue: hsl(210, 4%, 67%);
$neutral-color-White: hsl(0, 0%, 100%);

//fonts
$ff-barlow:'Barlow', sans-serif;
$ff-fraunces:'Fraunces', serif;

//mixin

@mixin flex($direction,$justify) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
};
@mixin background($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
